<div>
    <h1>
        Segunda Pre-Entrega: MongoDB
    </h1>
    <h3>Cart</h3>
    {{#with carts}}
    <h2>Cart ID: {{_id}}</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Code</th>
                <th>Status</th>
                <th>Stock</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{id}}</td>
                <td>{{this.id.title}}</td>
                <td>{{this.id.description}}</td>
                <td>{{this.id.price}}</td>
                <td>{{this.id.code}}</td>
                <td>{{this.id.status}}</td>
                <td>{{this.id.stock}}</td>
                <td>{{this.id.category}}</td>
                <td>{{this.id.brand}}</td>
                <td>{{quantity}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/with}}
</div>
<br>
<div class="pagination">
    <a href="/products">Add more Products to Cart</a>
</div>